
.leaflet-bar .easy-button-button {
}
.easy-button-button {
  cursor: pointer;
  background: white;
  border: 1px solid rgba(0,0,0,0.2);
  color: #333;
  text-align: center;
  text-decoration: none;
  padding: 6px 8px;
  display: block;
}
.easy-button-button:hover {
  background: #f4f4f4;
}
.easy-button-disabled {
  opacity: 0.5;
  cursor: default;
}
.easy-button-button .fa {
  font-size: 16px;
  pointer-events: none;
}
